<div class="contenedor">
    <img src={{imagePath}} alt="Imagen de carrera">

    <div class="contenedor-descripcion">

        <div class="first">
            <p>Un breve Descripcion de la carrera </p>
        </div>

        <div class="second">
            <div class="logo-contenedor">
                <h5>Universidad</h5>
                <img class="logo-Universidad" src={{logoPath}} alt="Logo Universidad">
            </div>
            <div class="botones">
                <button>Inscribirse</button>
                <button>Ver mas</button>
            </div>
        </div>

    </div>
</div>

