<div class="contenedorRegistro">
    <div class="tituloRegistro">
        <div class="subcontenedor">
            <h2>Registrate</h2>
        <img src="assets/birrete.png" alt="birrete">
        </div>
    </div>
    <form method="post">
        
        <div class="form">
            <div class="campoInput">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" id="nombre" placeholder="Escribe tu primer nombre">
            </div>
    
            <div class="campoInput">
                <label for="segundoNombre">Segundo nombre</label>
                <input type="text" id="segundoNombre" placeholder="Escribe tu segundo nombre">
            </div>
    
            <div class="campoInput">    
                <label for="apellido">Apellido</label>
                <input type="text" id="apellido" placeholder="Escribe tu apellido">
            </div>
    
            <div class="campoInput">    
                <label for="segundoApellido">Segundo Apellido</label>
                <input type="text" id="segundoApellido" placeholder="Escribe tu segundo apellido">
            </div>
            
            <div class="campoInput">    
                <label for="dni">Documento de identidad</label>
                <input type="number" id="dni" placeholder="Escribe tu documento de identidad">
            </div>
            
            <div class="campoInput">    
                <label for="correo">correo</label>
                <input type="email" id="correo" placeholder="Escribe tu correo electronico">
            </div>
            
            <div class="campoInput telefono">
                <label for="codigoPais">Codigo</label>
                <select id="codigoPais">
                    <option value="+58">+58</option>
                </select>
                
                <div class="campoInput telefono2">    
                    <label for="telefono">Telefono</label>
                    <input type="number" id="telefono" placeholder="Escribe tu numero de telefono">
                </div>
            </div>
    
            <div class="campoInput">    
                <label for="contrasena">Contraseña</label>
                <input type="password" id="contrasena" placeholder="Escribe tu contraseña">
            </div>
    
            <div class="campoInput">    
                <label for="contrasena2">Vuelve a escribir tu contraseña</label>
                <input type="password" id="contrasena2" placeholder="Vuelve a escribir tu contraseña">
            </div>
        </div>

        <input type="submit" value="Registrarme" class="btnRegistrarme">
    </form>
    <div class="divisor">
        <div class="texto">
            <h5>O registrate con</h5>
        </div>
        <div class="linea"></div>
    </div>

    <div class="otroRegistro">
        <button class="google">Google</button>
        <button class="facebook">Facebook</button>
    </div>
</div>
