.contenedorRegistro {
    display: flex;
    width: 90vw;
    flex-direction: column;
    margin: 30px auto;
    position: relative;
    padding: 15px;
}

.tituloRegistro {
    display: flex;
    justify-content: center;
    padding: 17px;
}
.subcontenedor{
    position: relative;
    padding: 17px 30px;
}
.tituloRegistro h2 {
    font-size: 45px;
    color: var(--color-principal);
}

.tituloRegistro img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
}

.form {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4, minmax(300,1fr));
    gap: 30px;  
    padding: 25px;

    input, select {
        padding: 15px;
        width: 100%;
        font-size: 16px;
        border-radius: 20px;
        border: 2px solid #aaa;
    }

    
    .campoInput{
        position: relative;
        label{
            position: absolute;
            background-color: #fff;
            padding: 0 7px;
            left: 12px;
            top: -8px;
        }
    }
    .telefono{
        display: flex;
        min-width: 270px;
        gap: 10px;
    }
    #codigoPais{
        max-width: 100px;

    }
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;

}
.btnRegistrarme{
    padding: 15px;
    font-size: 16px;
    border-radius: 20px;
    border: 2px solid #aaa;
    background-color: var(--color-principal);
    color: #fff;
    border: none;
    cursor: pointer;
}
.btnRegistrarme:hover{
    box-shadow:0 0 15px #E07B36 ;
}
.divisor{
    display: flex;
    text-align: center;
    margin: 12px;
    position: relative;
    z-index: 100;
    justify-content: center;
    align-items: center;
}
.texto{
    z-index: 100;
    background-color: #fff;
    padding: 3px;
    h5{
        margin: 0 10px;
    }
}
.linea{
    width: 50%;
    height: 1px;
    background-color: var(--color-principal);
    position: absolute;
    z-index: 1;
}

.otroRegistro{
    display: flex;
    justify-content: space-evenly;
    margin: 9px;

    button{
        padding: 15px 0;
        width: 150px;
        border-radius: 20px;
        border: none;
        font-size: 16px;
        position: relative;
        cursor: pointer;

        i{
            margin: 0 10px;
        }
    }

    button:first-child{
        border: 1px solid #aaa;
        background-color: transparent;
    }
    button:last-child{
        background-color: #12f;
        color: #FFF;
    }
    .facebook:hover{
        box-shadow: 0 0 15px #667aff;
    }
    .google:hover{
        box-shadow: 0 0 15px #aaa;
    }
    .google{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .google > img{
        width: 25px;
    }
}


@media screen and (max-width: 1100px) {
    .form{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 35px;
    }
    .btnRegistrarme{
        max-width: 170px;
    }
}